body {color: #333333;}
input {
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #a9a9a9;}

.yearType{
  font-size: 18px;
  width: 120px;
  height: 30px;
  margin-bottom: 2mm;
  margin-left: 15px;
}

.inputArea{
  font-size: 18px;
  width: 100px;
  height: 30px;
  text-align: right;
  margin-bottom: 2mm;
  margin-left: 15px;
  
}

.resultZone{
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.Rz{float: left;}

.resulArea{
  background-color: rgb(193, 188, 206);
  width:50px;
  margin-left:2px;
  height: 25px;
}


.date{
  background-color: rgb(1, 97, 153);
  height: 25px;
  width: 150px;
  color: #FFFFFF;
  text-indent: 2mm;
  margin-left: 52px;
} 

p{
  margin-top: 0mm;
  margin-bottom: 2mm;
}

.tableRemark{
  margin-top: 15px;
  width: 390px;
  font-size: 10px;
  text-align: right;
}

table{
  border-collapse: collapse;
  margin-left: 0px;
  margin-top: 0px;
}

table th, table td {
  border-bottom: solid 1px #dcdcdc;
  /*実線 1px */
}

table#ageTable th{
  position: sticky;
  top: 0;
}

th{
  background-color: antiquewhite;
}

td{
  text-align: right;
}

